<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="RestAssuredSuite">
    <test name="LoginTests">
        <classes>
            <class name="com.example.tests.LoginValidTest"/>
            <class name="com.example.tests.LoginInvalidTest"/>
        </classes>
    </test>
</suite>
